absl-py
Babel
blinker
certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
flask-babel
Flask-WTF
flatbuffers
google-pasta
grpcio
h5py
idna
importlib_metadata
itsdangerous
Jinja2
joblib
keras
Markdown
MarkupSafe
numpy
packaging
pandas
plotly
protobuf
Pygments
python-dateutil
pytz
requests
retrying
rich
scikit-learn
scipy
six
tenacity
tensorboard
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
WTForms
